@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}
    
li {
    list-style-type: none;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
}
 
button {
    cursor: pointer;
}

section {
    background-color: rgb(245, 245, 245);
    transition: all 300ms ease;
}

input, textarea {
    width: 100%;
    background-color: #dcdfe6;
    color: #ffffff;
    outline: none;
    border: 3px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 30px;
    transition: all 300ms ease;
}

textarea {
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input:hover, textarea:hover {
    border-color: #dcdfe6;
}

input:focus, textarea:focus {
    border-color: #6964aa;
}

.container {
    padding: 50px 0;
     width: 100%;   
}
    
.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.click {
    cursor: pointer;
    transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

.title {
   font-size: 80px;
   margin-bottom: 12px;
   text-align: left;
   line-height: 1; 
}

.blue {
    color: #5B86E5 !important;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after {
    background-color: #ffffff;
}

.link__hover-effect--black:after {
    background-color: #242424;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.modal__exit {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

/* Screen reader only content */
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

nav,
.scroll,
.header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms 800ms;
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust,
.dark-theme .header__para {
    color: #fff;
}

.dark-theme section {
    background-color: #242424;
}

.dark-theme #personal-logo {
    filter: invert(1);
}

.dark-theme .scroll__icon {
    border-color: #fff; 
} 

.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect--black:after {
    background-color: #fff; 
}

.dark-theme .mail__btn {
    background-color: #fff;
    color: #242424;
}

.dark-theme footer {
    background-color: #242424;
}

@keyframes animate-wave {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(25deg); }
    100% { transform: rotate(0deg); }
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(-3px);
    }
}

 @keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
 }

/* Small phones, tablets, large phones */

@media (max-width: 768px) {
    .title {
        font-size: 80px;
    }
    .header__para {
        font-size: 20px;
    }
    .modal {
        top: 0;
        left: 0;
        transform: none;
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }
    .modal__half {
        width: 100%;
    }
}

/* Small phones */

@media (max-width: 480px) {
    .title {
        font-size: 52px;
    }
    .header__para {
        font-size: 18px;
    }
    .nav__link:first-child {
        display: none;
    }
    .project__description--para {
        display: none;
    }
    .project__description {
        left: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .project__description--sub-title {
        margin-bottom: 8px;
    }
    .modal__half {
        padding: 40px;
    }
}