.shape {
    position: fixed;
}

.shape--0 {
    top: 12vh;
    left: 5vw;
}

.shape--1 {
    top: 12vh;
    left: 50vw;
}

.shape--2 {
    top: 12vh;
    left: 80vw;
}

.shape--3 {
    top: 45vh;
    left: 5vw;
}

.shape--4 {
    top: 45vh;
    left: 50vw;
}

.shape--5 {
    top: 45vh;
    left: 80vw;
}

.shape--6 {
    top: 85vh;
    left: 5vw;
}

.shape--7 {
    top: 85vh;
    left: 50vw;
}

.shape--8 {
    top: 85vh;
    left: 80vw;
}