.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: #36D1DC;
    border: #5B86E5;
    border-radius: 12px;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border: 1px solid #ffffff;
    background-color: transparent;
}

.form__submit:active {
    border-color: #36D1DC;
    color: #5B86E5;
}
