footer {
    position: relative;
    background-color: #242424;
    display: flex;
    padding: 6% 0;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo--img {
    height: 100px;
    width: 100px;
    margin-bottom: 28px;
    filter: invert(1);
}

.footer__social--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 28px 0;
}

.footer__social--link,
.footer__copyright {
    color: #ffffff;
    background: none;
    border: none;
}

.footer__copyright {
    margin: 28px 0;
}

.footer__button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}
