#landing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.header__para {
    font-size: 20px;
    line-height: 2;
    max-width: 450px;
}

.header__inline-button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    padding: 0;
}

.social__list {
    margin-top: 16px;
    display: flex;
}

.social__link {
    background-color: #0000ff;
    color: white;
    padding: 18px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 14px;
    border-radius: 50%;
}

.mail__btn {
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 50%;
    background-color: #0000ff;
    color: #ffffff;
    border: none;
    position: fixed;
    bottom: 24px;
    right: 40px;
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #0000ff;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: #0000ff;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}