.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1100px;
    height: 500px;    
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}   

.modal--open .modal {
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);
    visibility: visible;
}

.modal--visible {
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);
    visibility: visible;
}

.modal__half {
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact {
    transform: translateX(0%);
}

.modal--visible .modal__about,
.modal--visible .modal__contact {
    transform: translateX(0%);
}

.modal__about {
    background-color: rgb(245, 245, 245);
    transform: translateX(-110%);
}

.modal--visible .modal__about {
    transform: translateX(0%);
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
}

.modal__language {
    width: 25%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
}

.modal__language:hover .language__name {
    transform: scale(1);
}

.modal__language:hover {
    filter: brightness(80%);
    transform: scale(0.9);
}

.language__name {
    position: absolute;
    bottom: -10px;
    font-size: 10px;
    transform: scale(0);
    transition: all 300ms ease;
}

.modal__language--img {
    width: 100%;
    max-width: 40px;
}

.modal__contact {
    background-color: #50508a;
    color: #ffffff;
    transform: translateX(110%);
}

.modal--visible .modal__contact {
    transform: translateX(0%);
}

.modal__title {
    font-size: 26px;
}

.modal__sub-title {
    margin: 12px 0;
    font-size: 14px;
}

.modal__para {
    margin-bottom: 12px;
    line-height: 1.5;
    font-size: 14px;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.modal__overlay--loading {
    background-color: #00e1ff;
    font-size: 80px;
}

.modal__overlay--success {
    background-color: #4bb544;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 60px;
}

.modal__overlay--visible {
    z-index: 1;
    display: flex;
}

 .fa-spinner {
    animation: spinner 750ms infinite linear;
 }

 .modal__exit {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    font-size: 36px;
    z-index: 100;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}