
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
}

#personal-logo {
    margin-top: 32px;
    height: 100px;
    width: 100px;
}

.nav__link--list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    font-size: 16px;
    color: #242424;
    font-weight: 700;
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.fa-adjust {
    font-size: 20px;
}
