
.section__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.project {
    margin: 120px 0;
}

.project__img{
    width: 100%;
    transition: all 600ms ease;
}

.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
    overflow: hidden;
}

.project__wrapper:hover  .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__description {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color: #ffffff;
    max-width: 550px;
}

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project__wrapper:hover .project__wrapper--bg {
    background-color: #1c1d25;
    opacity: 0.7;
}

.project__description--title {
    font-size: 40px;
}

.project__description--sub-title {
    margin-top: 8px;
}

.project__description--link {
    color: #ffffff;
    font-size: 20px;
    margin-right: 16px;
}

.project__description--para {
    margin: 16px 0;
}

.project__list {
    list-style: none;
    padding: 0;
    margin: 0;
}
